#wrap,
#header,
#footer,
header,
footer {
    width: 100%;
}

/* 오버-클릭 커서로 지정 */
button,
.pointer,
.hand,
.cursor {
    cursor: pointer;
}

.btn {
    font-size: 1.5rem;
    padding: 10px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 20px;
    padding: 15px 90px;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 20px;
}

.sm-btn {
    font-size: 0.9rem;
    font-weight: 700;
    padding: 3px 10px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin: 20px 0 0;
    display: inline-block;
}

/* Colors */
.bpri,
.b-pri,
.b_pri,
.bgcolor {
    background: #f00;
    color: #fff !important;
}

.cpri,
.c-pri,
.c_pri {
    color: #f00;
}

/*기본 스타일 정의*/
/*플로팅*/
.fr {
    float: right;
}

.fl {
    float: left;
}

.cr {
    clear: both;
}

.aftercr:after,
.row:after,
.container:after {
    clear: both;
    content: "";
    display: block;
}

/*포지셔닝*/
.pos_d,
.pos-d,
.poss {
    position: static;
}

.pos_r,
.pos-r,
.posr {
    position: relative;
}

.pos_a,
.pos-a,
.posa {
    position: absolute;
}

/*박스유형*/
.dis_i,
.dis-i,
.disi {
    display: inline-block !important;
}

.dis_b,
.dis-b,
.disb {
    display: block !important;
}

/* 글자자름 (inline-block, block 형태로 가로폭 반드시 지정해 줘야함)*/
.ell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wordkeep,
.w_keep,
.w-keep {
    white-space: normal;
    word-break: keep-all;
}

.ellipsis-box {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;

    /* ★★ 설정이 필요한 영역 ★★ */
    /* ★★ 3줄 이상은 말줄임 처리 ★★ */
    -webkit-line-clamp: 3;

    /* ★★ line-height:20px일때 ★★ */
    height: 60px;
    /* ★★ line-height * 3 ★★ */
}

/* overflow */
.hidden {
    display: none;
}

.blind {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: -9999em;
    left: -9999em;
    display: block;
    text-indent: -9999em;
    font-size: 0px;
    line-height: 0;
}

.wblind {
    width: 1px;
    height: 1px;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999em;
}

/* 다음 지도*/
.root_daum_roughmap {
    margin: 20px 0;
    width: 100% !important;
    border-bottom: 1px solid #ddd;
}

.wrap_controllers {
    display: none !important;
}

/* 비율 유지 */
.ratio1 {
    aspect-ratio: 1 / 1;
}

.ratio4-3 {
    aspect-ratio: 4 / 3;
}

.ratio16-9 {
    aspect-ratio: 16 / 9;
}

/* Response Device */
.pc {
    display: block;
}

.mobile {
    display: none;
}

@media all and (max-width:768px) {
    .pc {
        display: none;
    }

    .mobile {
        display: block;
    }
}

/* grid */
.flex {
    display: flex;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 10px;
    /* column-gap */
}

/* grid */
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 10px;
    /* column-gap */
}

.grid-col1,
.g-col1 {
    grid-column: auto / span 1;
}

.grid-col2,
.g-col2 {
    grid-column: auto / span 2;
}

.grid-col3,
.g-col3 {
    grid-column: auto / span 3;
}

.grid-col4,
.g-col4 {
    grid-column: auto / span 4;
}

.grid-col5,
.g-col5 {
    grid-column: auto / span 5;
}

.grid-col6,
.g-col6 {
    grid-column: auto / span 6;
}

.grid-col7,
.g-col7 {
    grid-column: auto / span 7;
}

.grid-col8,
.g-col8 {
    grid-column: auto / span 8;
}

.grid-col9,
.g-col9 {
    grid-column: auto / span 9;
}

.grid-col10,
.g-col10 {
    grid-column: auto / span 10;
}

.grid-col11,
.g-col11 {
    grid-column: auto / span 11;
}

.grid-col12,
.g-col12 {
    grid-column: auto / span 12;
}

/*bootstrap grid*/
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-11 {
    width: 91.66666667%;
}

.col-xs-10 {
    width: 83.33333333%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-7 {
    width: 58.33333333%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-5 {
    width: 41.66666667%;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-2 {
    width: 16.66666667%;
}

.col-xs-1 {
    width: 8.33333333%;
}


@media (min-width: 768px) {

    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: 91.66666667%;
    }

    .col-sm-10 {
        width: 83.33333333%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .col-sm-7 {
        width: 58.33333333%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.66666667%;
    }

    .col-sm-1 {
        width: 8.33333333%;
    }

}

@media (min-width: 992px) {

    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-11 {
        width: 91.66666667%;
    }

    .col-md-10 {
        width: 83.33333333%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-7 {
        width: 58.33333333%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 16.66666667%;
    }

    .col-md-1 {
        width: 8.33333333%;
    }

}

@media (min-width: 1200px) {

    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        float: left;
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-11 {
        width: 91.66666667%;
    }

    .col-lg-10 {
        width: 83.33333333%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-8 {
        width: 66.66666667%;
    }

    .col-lg-7 {
        width: 58.33333333%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-5 {
        width: 41.66666667%;
    }

    .col-lg-4 {
        width: 33.33333333%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-2 {
        width: 16.66666667%;
    }

    .col-lg-1 {
        width: 8.33333333%;
    }

}


/* 공백 */
.gap-xl {
    height: 80px;
    clear: both;
    display: block;
}

.gap-lg {
    height: 60px;
    clear: both;
    display: block;
}

.gap-md {
    height: 40px;
    clear: both;
    display: block;
}

.gap-sm {
    height: 20px;
    clear: both;
    display: block;
}

.gap-xs {
    height: 10px;
    clear: both;
    display: block;
}

@media all and (max-width:768px) {
    .gap-xl {
        height: 60px;
        clear: both;
        display: block;
    }

    .gap-lg {
        height: 40px;
        clear: both;
        display: block;
    }

    .gap-md {
        height: 30px;
        clear: both;
        display: block;
    }

    .gap-sm {
        height: 15px;
        clear: both;
        display: block;
    }

    .gap-xs {
        height: 10px;
        clear: both;
        display: block;
    }

}

@media all and (max-width:460px) {

    .gap-xl,
    .gap-lg {
        height: 30px;
        clear: both;
        display: block;
    }

    .gap-md {
        height: 20px;
        clear: both;
        display: block;
    }

    .gap-sm,
    .gap-xs {
        height: 10px;
        clear: both;
        display: block;
    }
}

/*정렬*/
.tc,
.t_center {
    text-align: center;
}

.tl,
.t_left {
    text-align: left;
}

.tr,
.t_right {
    text-align: right;
}

.left,
.l {
    text-align: left !important;
}

.right,
.r {
    text-align: right !important;
}

.center,
.c {
    text-align: center !important;
}

.vtop,
.vtop,
.vt * {
    vertical-align: text-top !important;
}

.vcen,
.vcen,
.vc * {
    vertical-align: middle !important;
}

.vfoot,
.vfoot,
.vf * {
    vertical-align: text-bottom !important;
}

/* 들여쓰기 */
.indent {
    margin-left: 15px;
}

.li-indent {
    margin-left: 10px;
}

/* 색상 */
.c0 {
    color: #000 !important;
}

.c2 {
    color: #222 !important;
}

.c3 {
    color: #333 !important;
}

.c5 {
    color: #555 !important;
}

.c6 {
    color: #666 !important;
}

.c8 {
    color: #888 !important;
}

.c9 {
    color: #999 !important;
}

.ca {
    color: #aaa !important;
}

.cb {
    color: #aaa !important;
}

.cc {
    color: #aaa !important;
}

.cd {
    color: #aaa !important;
}

.ce {
    color: #aaa !important;
}

.cf {
    color: #fff !important;
}


/*회색조*/
.g9 {
    color: rgba(0, 0, 0, 0.9) !important;
}

.g8 {
    color: rgba(0, 0, 0, 0.8) !important;
}

.g7 {
    color: rgba(0, 0, 0, 0.7) !important;
}

.g6 {
    color: rgba(0, 0, 0, 0.6) !important;
}

.g5 {
    color: rgba(0, 0, 0, 0.5) !important;
}

.g4 {
    color: rgba(0, 0, 0, 0.4) !important;
}

.g3 {
    color: rgba(0, 0, 0, 0.3) !important;
}

.g2 {
    color: rgba(0, 0, 0, 0.2) !important;
}

.g1 {
    color: rgba(0, 0, 0, 0.1) !important;
}

.cred {
    color: #df2519 !important;
}

.cblue {
    color: #2176C6 !important;
}

.cpink {
    color: #f9587d !important
}

.cgold {
    color: #b8883c !important;
}

.cgreen {
    color: #758d0a !important;
}

.cbrown {
    color: #9f2C00 !important;
}

.corg {
    color: #ff5612 !important;
}


/* 폰트속성 */
.nb {
    font-weight: normal;
}

.b {
    font-weight: bold;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

.f60 {
    font-size: 3.75rem;
}

.f30 {
    font-size: 3rem;
}

.f25 {
    font-size: 2.5rem;
}

.f20 {
    font-size: 2rem;
}

.f18 {
    font-size: 1.8rem;
}

.f17 {
    font-size: 1.75rem;
}

.f15 {
    font-size: 1.5rem;
}

.f12 {
    font-size: 1.25rem;
}

.f11 {
    font-size: 1.125rem;
}

.f10 {
    font-size: 1rem;
}

.f09 {
    font-size: 0.9375rem;
}

.f08 {
    font-size: 0.8125rem;
}

.f06 {
    font-size: 0.6875rem;
}


/*줄간격*/
.tlh190 {
    line-height: 190%;
}

.tlh180 {
    line-height: 180%;
}

.tlh170 {
    line-height: 170%;
}

.tlh160 {
    line-height: 160%;
}

.tlh150 {
    line-height: 150%;
}

.tlh140 {
    line-height: 140%;
}

.tlh130 {
    line-height: 130%;
}

.tlh120 {
    line-height: 120%;
}

.tlh110 {
    line-height: 110%;
}

/*영문,숫자*/
.en {
    font-size: 90%;
    letter-spacing: 0;
}

/* 패딩*/
.pb50r {
    padding-bottom: 5rem;
}

.pb40r {
    padding-bottom: 4rem;
}

.pb30r {
    padding-bottom: 3rem;
}

.pb20r {
    padding-bottom: 2rem;
}

.pb15r {
    padding-bottom: 1.5rem;
}

.pb10r {
    padding-bottom: 1rem;
}

.pb05r {
    padding-bottom: 0.5rem;
}

.pt50r {
    padding-top: 5rem;
}

.pt40r {
    padding-top: 4rem;
}

.pt30r {
    padding-top: 3rem;
}

.pt20r {
    padding-top: 2rem;
}

.pt15r {
    padding-top: 1.5rem;
}

.pt10r {
    padding-top: 1rem;
}

.pt05r {
    padding-top: 0.5rem;
}

.pl50r {
    padding-left: 5rem;
}

.pl40r {
    padding-left: 4rem;
}

.pl30r {
    padding-left: 3rem;
}

.pl20r {
    padding-left: 2rem;
}

.pl15r {
    padding-left: 1.5rem;
}

.pl10r {
    padding-left: 1rem;
}

.pl05r {
    padding-left: 0.5rem;
}

.pr50r {
    padding-right: 5rem;
}

.pr40r {
    padding-right: 4rem;
}

.pr30r {
    padding-right: 3rem;
}

.pr20r {
    padding-right: 2rem;
}

.pr15r {
    padding-right: 1.5rem;
}

.pr10r {
    padding-right: 1rem;
}

.pr05r {
    padding-right: 0.5rem;
}


/*마진*/
.mb50r {
    margin-bottom: 5rem;
}

.mb40r {
    margin-bottom: 4rem;
}

.mb30r {
    margin-bottom: 3rem;
}

.mb20r {
    margin-bottom: 2rem;
}

.mb15r {
    margin-bottom: 1.5rem;
}

.mb10r {
    margin-bottom: 1rem;
}

.mb05r {
    margin-bottom: 0.5rem;
}

.mt50r {
    margin-top: 5rem;
}

.mt40r {
    margin-top: 4rem;
}

.mt30r {
    margin-top: 3rem;
}

.mt20r {
    margin-top: 2rem;
}

.mt15r {
    margin-top: 1.5rem;
}

.mt10r {
    margin-top: 1rem;
}

.mt05r {
    margin-top: 0.5rem;
}

.ml50r {
    margin-left: 5rem;
}

.ml40r {
    margin-left: 4rem;
}

.ml30r {
    margin-left: 3rem;
}

.ml20r {
    margin-left: 2rem;
}

.ml15r {
    margin-left: 1.5rem;
}

.ml10r {
    margin-left: 1rem;
}

.ml05r {
    margin-left: 0.5rem;
}

.mr50r {
    margin-right: 5rem;
}

.mr40r {
    margin-right: 4rem;
}

.mr30r {
    margin-right: 3rem;
}

.mr20r {
    margin-right: 2rem;
}

.mr15r {
    margin-right: 1.5rem;
}

.mr10r {
    margin-right: 1rem;
}

.mr05r {
    margin-right: 0.5rem;
}

@media all and (max-width:768px) {
    .pb50r {
        padding-bottom: 3rem;
    }

    .pb40r {
        padding-bottom: 2rem;
    }

    .pb30r {
        padding-bottom: 1.5rem;
    }

    .pb20r {
        padding-bottom: 1rem;
    }

    .pb15r {
        padding-bottom: 1rem;
    }

    .pb10r {
        padding-bottom: 1rem;
    }

    .pb05r {
        padding-bottom: 0.5rem;
    }

    .pt50r {
        padding-top: 3rem;
    }

    .pt40r {
        padding-top: 2rem;
    }

    .pt30r {
        padding-top: 1.5rem;
    }

    .pt20r {
        padding-top: 1rem;
    }

    .pt15r {
        padding-top: 1rem;
    }

    .pt10r {
        padding-top: 1rem;
    }

    .pt05r {
        padding-top: 0.5rem;
    }


    /*마진*/
    .mb50r {
        margin-bottom: 3rem;
    }

    .mb40r {
        margin-bottom: 2rem;
    }

    .mb30r {
        margin-bottom: 1.5rem;
    }

    .mb20r {
        margin-bottom: 1rem;
    }

    .mb15r {
        margin-bottom: 1rem;
    }

    .mb10r {
        margin-bottom: 1rem;
    }

    .mb05r {
        margin-bottom: 0.5rem;
    }

    .mt50r {
        margin-top: 3rem;
    }

    .mt40r {
        margin-top: 2rem;
    }

    .mt30r {
        margin-top: 1.5rem;
    }

    .mt20r {
        margin-top: 1rem;
    }

    .mt15r {
        margin-top: 1rem;
    }

    .mt10r {
        margin-top: 1rem;
    }

    .mt05r {
        margin-top: 0.5rem;
    }
}

/*가로 크기*/
.w-auto {
    width: auto !important;
}

.h-auto {
    height: auto !important;
}

.w100p {
    width: 100%;
}

.w98p {
    width: 98%;
}

.w95p {
    width: 95%;
}

.w90p {
    width: 90%;
}

.w80p {
    width: 80%;
}

.w70p {
    width: 70%;
}

.w60p {
    width: 60%;
}

.w50p {
    width: 49%;
}

.w45p {
    width: 44%;
}

.w40p {
    width: 40%;
}

.w33p {
    width: 33.3333%;
}

.w30p {
    width: 30%;
}

.w25p {
    width: 25%;
}

.w20p {
    width: 20%;
}

.w15p {
    width: 15%;
}

.w10p {
    width: 10%;
}

.wc2 {
    width: calc(100% / 2);
}

.wc3 {
    width: calc(100% / 3);
}

.wc4 {
    width: calc(100% / 4);
}

.wc5 {
    width: calc(100% / 5);
}


/* 보더 */
.bdb0 {
    border-bottom: 0 !important
}

.bdl0 {
    border-left: 0 !important
}

.bdr0 {
    border-right: 0 !important
}

.bdt0 {
    border-top: 0 !important
}


/* 테이블 */
.tb {
    table-layout: fixed;
    width: 100%;
    border-top: 2px solid #000;
}

.tb th {
    font-size: 1.25rem;
    padding: 12px 0;
    font-weight: 500;
    background: #F5F5F5;
    border: 0;
    border-bottom: 1px solid #CED4D9;
}

.tb th:last-child {
    border-right: 1px solid #eee
}

.tb td {
    text-align: left;
    padding: 12px 30px;
    font-size: 1.25rem;
    color: #666;
    border-right: 0;
    line-height: 140%;
    border-bottom: 1px solid #CED4D9;
}

.tb td.tc {
    color: #555;
    text-align: center;
}

.tb td.poi {
    color: #FA2828;
    font-weight: bold;
}

.tb td.br0 {
    border-right: 0;
}

.tb th.bl1 {
    border-left: 1px solid #CED4D9 !important;
}

.tb td input.txt,
.tb.tb2 td input.text,
.tb.tb2 td input.txt,
.tb.tb2 td select {
    border: 1px solid #ddd;
    background-color: #fff;
    height: 26px;
    text-indent: 5px;
    *text-indent: 0px;
    font-size: 13px;
    line-height: 26px;
}

.tb td input.txt,
.tb.tb2 td select {
    text-indent: 0;
}


/* 타이틀 */

.line-ttl {
    position: relative;
    font-size: 1.125rem;
    font-weight: 600;
    color: #000;
    padding: 10px 10px;
}

.line-ttl::before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 3px;
    height: 20px;
    background: #f00;
}

.circle-ttl {
    position: relative;
    font-size: 1.125rem;
    font-weight: 600;
    color: #000;
    padding: 10px 10px;
}

.circle-ttl::before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 8px;
    height: 8px;
    background: #f00;
    border-radius: 50%;
}


/* 애니메이션 */
.adl01 {
    animation-delay: 0.05s;
    -webkit-animation-delay: 0.05s;
}

.adl02 {
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
}

.adl03 {
    animation-delay: 0.15s;
    -webkit-animation-delay: 0.15s;
}

.adl04 {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.adl05 {
    animation-delay: 0.25s;
    -webkit-animation-delay: 0.25s;
}

.adl06 {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.35s;
}

.adl07 {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.adl08 {
    animation-delay: 0.45s;
    -webkit-animation-delay: 0.45s;
}

.adl09 {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.adl10 {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.adl15 {
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}

.adl20 {
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}

.adl25 {
    animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}

.adu10 {
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
}

.adu15 {
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
}

.adu20 {
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
}

.adu25 {
    animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;
}

.adu30 {
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
}

.adu35 {
    animation-duration: 3.5s;
    -webkit-animation-duration: 3.5s;
}

.adu40 {
    animation-delay: 4s;
    -webkit-animation-delay: 4s;
}

.adu45 {
    animation-delay: 4.5s;
    -webkit-animation-delay: 4.5s;
}

.adu50 {
    animation-delay: 5s;
    -webkit-animation-delay: 5s;
}

.adu50 {
    animation-delay: 5.5s;
    -webkit-animation-delay: 5.5s;
}

.animate__scaleIn,
.ans {
    animation-name: scaleIn;
    animation-duration: 2s;
    background-size: auto 120%;
}

@keyframes scaleIn {
    0% {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

/* animate.css Patch */
@-webkit-keyframes fadeInUpSm {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 25%, 0);
        transform: translate3d(0, 25%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUpSm {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 25%, 0);
        transform: translate3d(0, 25%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animate__fadeInUpSm {
    -webkit-animation-name: fadeInUpSm;
    animation-name: fadeInUpSm;
}

@-webkit-keyframes fadeInDownSm {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -25%, 0);
        transform: translate3d(0, -25%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDownSm {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -25%, 0);
        transform: translate3d(0, -25%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animate__fadeInDownSm {
    -webkit-animation-name: fadeInDownSm;
    animation-name: fadeInDownSm;
}

@-webkit-keyframes fadeInLeftSm {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-25%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeftSm {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-25%, 0, 0);
        transform: translate3d(-25%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animate__fadeInLeftSm {
    -webkit-animation-name: fadeInLeftSm;
    animation-name: fadeInLeftSm;
}

/* animate.css Patch */
@-webkit-keyframes fadeInUpSm {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 25%, 0);
        transform: translate3d(0, 25%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUpSm {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 25%, 0);
        transform: translate3d(0, 25%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animate__fadeInUpSm {
    -webkit-animation-name: fadeInUpSm;
    animation-name: fadeInUpSm;
}

@-webkit-keyframes fadeInDownSm {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -25%, 0);
        transform: translate3d(0, -25%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDownSm {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -25%, 0);
        transform: translate3d(0, -25%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animate__fadeInDownSm {
    -webkit-animation-name: fadeInDownSm;
    animation-name: fadeInDownSm;
}

@-webkit-keyframes fadeInLeftSm {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-25%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeftSm {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-25%, 0, 0);
        transform: translate3d(-25%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animate__fadeInLeftSm {
    -webkit-animation-name: fadeInLeftSm;
    animation-name: fadeInLeftSm;
}

@-webkit-keyframes fadeInRightSm {
    from {
        opacity: 0;
        -webkit-transform: translate3d(25%, 0, 0);
        transform: translate3d(25%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInRightSm {
    from {
        opacity: 0;
        -webkit-transform: translate3d(20%, 0, 0);
        transform: translate3d(25%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animate__fadeInRightSm {
    -webkit-animation-name: fadeInRightSm;
    animation-name: fadeInRightSm;
}

/* KeyFrames */

@-webkit-keyframes underline {
    0% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

@keyframes underline {
    0% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

@-webkit-keyframes grow {
    0% {
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: scale(1.25);
    }
}

@keyframes grow {
    0% {
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: scale(1.25);
    }
}

@-webkit-keyframes ripple {
    0% {
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: scale(1.125);
    }

    100% {
        opacity: 0;
        transform: scale(1.25);
    }
}

@keyframes ripple {
    0% {
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: scale(1.125);
    }

    100% {
        opacity: 0;
        transform: scale(1.25);
    }
}

/* browser */
.chrome,
.chr {
    display: block
}

.explorer,
.exp {
    display: none;
}

/* IE10+ */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {

    .chrome,
    .chr {
        display: none !important;
    }

    .explorer,
    .exp,
    .ie {
        display: block !important;
        width: 100%;
        margin: 0 auto;
    }
}